.banner{
    display: flex;
    background-color: rgb(155, 240, 240);
    padding: 20px;
}
.banner-content{
    flex:2;

}
.banner-content button{
    background-color: green;
    
}
.pic-banner{
    flex:1
}
.pic-banner img{
    width: 100%;
}
.banner-content button :hover{
    background-color: blueviolet;
}