
    section{
        background-color: rgb(247, 241, 241);
        .order{
            text-align: left;
        }
        p{
            font-size: 1.2rem;
                width: 50%;
        }
    }
    p{
        color: rgb(3, 243, 63);
    }
    .main{
        color:red;
    }
    #sa{
        color:green;
    }
    h3{
        text-align: center;
    }
